[submodule "Vox/vendor/spdlog"]
	path = Vox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vox/vendor/GLFW"]
	path = Vox/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vox/vendor/imgui"]
	path = Vox/vendor/imgui
	url = https://github.com/nlalert/imgui
